.navbar-inverse {
    background-color: #ebbc14;
    border-color: #ebbc14;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}
.navbar-inverse .navbar-brand {
    color: #000000;
}
.btn-primary {
    color: #fff;
    background-color: #267e92;
    border-color: #267e92;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #999999;
    background-color: #999999;
}
.sidebar-nav .sidebar-icon {
    width: 25px;
    margin-right: 10px;
}
img {
    vertical-align: middle;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
footer{
   background-color: #ebbc14;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #000000;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}
.col-lg-3 {
    width: 25%;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}
.card-stats .card-header {
    float: left;
    text-align: center;
}
.card [data-background-color] {
    color: #FFFFFF;
}
.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}
.card .card-content {
    padding: 15px 20px;
}
.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}
.huge {
    font-size: 40px;
}
.col-centered{
    margin: 0 auto;
    float: none;
}